################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vscode/sqfvm-lsp/ls-ignore.txt
